<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

	<!-- Se você não pretende fazer responsivo remova esta tag -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Hello World</title>

	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application' %>
	
	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
